*{
    font-family: inter;
    margin: 0;
    padding: 0;
}
body {
   background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 35%, rgba(12, 112, 242, 0) 43%),#303030;
   background-repeat: no-repeat;
    
}
#menu a{
    font-size: 25px;
    font-weight: 600;

    text-align: left;
    text-decoration: none;
    color: white;

    margin-left: 30px;
}
#menu a:hover{
    color: #CCCC;
}
#menu{
    display: flex;
    width: 45%;
    justify-content: space-around;
    margin-left: 5%;
}
#principal{
    width: 100%;
    height: 100px;

    background-color: #303030;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #BABABA;
}
#principal button{
    width: 80px;
    height: 30px;
    margin-right: 5%;

    background-color: #0C70F2;
    color: white;

    border: 0;

    font-family: Inter;
    font-size: 20px;
    font-weight: 600;

    cursor: pointer;
    box-shadow: 3px 2px 5px rgba(12, 112, 242, 0.5);
}
#principal button:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
    background-color: #044caa;
}
section{
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-top: 100px;
    margin-bottom: 100px;
}
span{
    background-color: black;

    padding: 5px;
    font-weight: bold;
}
header{
    color: white;
}
header h1{
    font-family: Inter;
    font-size: 80px;
    font-weight: 900;
    padding-top: 50px;
    text-align: center;
}
header h2{
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    
}
.text input{
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 15px;

    width: 600px;
    height: 45px;

    top: 752px;
    left: 405px;

    border-radius: 10px;
    border: 0px;
    
    background-color: #FFFFFFE5;
    font-size: 20px;
    color: #39393980;
    
}
label{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
}
.text button{ 
    border: 0;
    background-color: #0C70F2;
    box-shadow: 0px 6px 4px 0px #0C70F240;

    color: #FFFFFF;
    cursor: pointer;

    width: 100%;
    height: 56px;
    top: 1465px;
    left: 405px;

    border-radius: 10px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;

    margin-top: 80px;
}


.check {
    margin-top:20px;
    
}
#checkbox{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 5px;
    margin-bottom: 30px;
    color: #FFFFFF;

    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
}
#checkbox input{
    width: 24px;
    height: 22px;
    border: 2px #CCCCCC;
    
}
form{
    margin-top: 170px;
}
